<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Personnage List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Personnage List</h1>
<a href="addPersonnage">Add Personnage</a>
<br/><br/>
<div>
  <table border="1">
    <tr>
      <th>id</th>
      <th>nom</th>
      <th>hp</th>
      <th>type</th>
      <th>action</th>
    </tr>
    <tr th:each ="personnage : ${personnages}">
      <td th:text="${personnage.id}">id</td>
      <td><a th:href="@{/Personnages/{id} (id=${personnage.id})}" th:text="${personnage.nom}">nom</a></td>
      <td th:text="${personnage.hp}">hp</td>
      <td th:text="${personnage.type}">type</td>
      <td >
        <form th:action="@{/deletePersonnage/{id} (id=${personnage.id}) }" th:method="DELETE">
        <button type="submit" class="deletebtn">Delete</button>
        </form>
        <form th:action="@{/Personnage/{id} (id=${personnage.id}) }" th:method="GET">

<!--        <button type="submit" class="deletebtn">Delete</button>-->
        </form>
        <a th:href="@{/updatePersonnage/{id} (id=${personnage.id}) }" >
          <button type="submit" class="updatebtn">Update</button>
        </a>

      </td>
    </tr>
  </table>
</div>
</body>
</html>