<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Personnage</h1>
<div>
  <table border="1">
<tr>
  <th>id</th>
  <th>nom</th>
  <th>hp</th>
  <th>type</th>
  <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffr.wikipedia.org%2Fwiki%2FMike_Tyson&psig=AOvVaw13RmUTl1nDE_Rjue9Ty_QA&ust=1630076149613000&source=images&cd=vfe&ved=0CAcQjRxqFwoTCJC0_Oj4zvICFQAAAAAdAAAAABAE">
</tr>
  <td th:text="${personnage.id}">id</td>
  <td  th:text="${personnage.nom}">nom</a></td>
  <td th:text="${personnage.hp}">hp</td>
  <td th:text="${personnage.type}">type</td>
  <td >


  </td>
</tr>
  </table>
</div>
</body>
</html>